@media only screen and (max-width : 1100px) {
	.system .system-list li:nth-child(1) {
		left: 19px;

	}
	.system  .wrap5{
		max-width: 860px;
		margin: 0 auto;
	}
	.system .system-list li:nth-child(2) {
		left: 30px;
	}
	.system .system-list li:nth-child(3) {
		right: 0px;
		top: 50px;
	}
	.clients .mix-container .mix img{
		max-width: 100%;
	}
}
@media only screen and (max-width : 992px) {
	
}
@media only screen and (max-width : 991px) {
	.home {
		min-height: 590px;
	}
	.home .logo{
		background-image: url(../img/logo-tablet.png);
		width: 133px;
		height: 126px;
		top: 51%;
	}
	.home .logo img{
		display: none;
	}
	
	
	.about p {
		max-width: 565px;
		font-size: 18px;
		padding-top: 67px;
		margin: 4px auto 3px;
	}
	.team {
		min-height: 237px;
	}
	.team p {
		max-width: 548px;
		font-size: 15px;
		line-height: 18px;
	}
	.partners {
		min-height: 455px;
	}
	.partners h2 {
		padding-top: 43px;
	}
	.partners p {
		max-width: 380px;
		margin: 0 auto;
		font-size: 15px;
		line-height: 18px;
		margin-top: 21px; 
	}
	.partners .partners-list {
		margin: 43px auto 0;
	}
	.partners .btn{
		margin-top: 40px;
	}
	.system {
		min-height: 697px;
	}
	.system h2 {
		padding-bottom: 13px;
		padding-top: 26px;
	}
	.system .system-list li img{
		display: none;
	}
	.system .system-list li:nth-child(1) {
		background-image: url(../img/system-tablet.png);
		width: 366px;
		height: 277px;
		max-width: 100%;
		top: 56%;
	}
	.system .system-list li:nth-child(2):after {
		display: none;
	}
	.system .system-list li:nth-child(3):after {
		display: none; 
	}
	.system .system-list li:nth-child(4):after {
		display: none;
	}
	.system .system-list li:nth-child(2) {
		left: 89px;
		top: 32px;
	}
	.system .system-list li:nth-child(3) {
		right: 62px;
		top: 53px;
	}
	.system .system-list li:nth-child(4) {
		top: 446px;
	}
	.solutions h2 {
		padding-top: 96px;
	}

	.solutions .tab-content .line {
		margin-top: 56px;
	}
	.solutions .tab-content .block {
		padding-top: 37px;
		width: 49%;
	}
	.solutions .tab-content .line.line2 .block {
		padding-top: 112px;
		padding-bottom: 12px;
	}
	.solutions .tab-content .block h3 {
		max-width: 129px;
		font-size: 14px;
		margin-bottom: 16px;

	}
	.solutions .tab-content .block p {
		max-width: 253px;
		font-size: 11px;
	}
	.solutions .hr {
		border-bottom: 2px solid #e0e3e4;
		display: block;
		padding-top: 25px;
	}
	.clients h2 {
		padding-top: 65px;
	}
	.clients .controls {
		margin: 0 auto -8px;
		max-width: 711px;
	}
	.clients .mix-container .mix img{
		max-width: 100%;
	}
	.clients .mix-container {
		min-height: 363px;
	}
	.news h2 {
		padding-top: 35px;
	}
	.news .item-wrap {
		max-width: 707px;
	}
	.news .item-wrap img {
		margin-right: 25px;
		width: 188px;
	}
	.news .item-wrap p {
		margin-top: -3px;
	}
	.news .item-wrap a {
		max-width: 600px;
	}
	.news .owl-next {
		display: none !important;
	}
	.news .owl-prev {
		display: none !important;
	}
	.news .owl-dots{
		text-align: center;
		margin-top: 46px;
	}
	.news .owl-dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 2px solid #1699bc;
		border-radius: 50%;
		margin-right: 10px;

	}
	.news .owl-dot:last-child{
		margin-right: 0;
	}
	.news .owl-dot.active{
		width: 10px;
		height: 10px;
		background-color: #1699bc;
		border: 2px solid #1699bc;
	}

}
@media only screen and (max-width : 767px) {
	.home {
		min-height: 333px;
	}
	.home .logo {
		top: 46%;
	}
	.home nav {
		display: none;
	}
	.home .btn-menu1 {
		display: block !important;
		left: -15px;
		position: fixed;
		z-index: 360;
		top: 0;
	}
	.about p {
		max-width: 246px;
		font-size: 14px;
		margin: 4px auto -2px;
		padding-top: 56px;
	}
	.about .btn {  
		font-size: 14px;
		padding: 11px 25px;
	}
	.team {
		min-height: 158px;
	}
	.team h2 {
		font-size: 24px;
		padding-top: 23px;
	}
	.team p {
		font-size: 12px;
		line-height: 15px;
		max-width: 259px;
	}
	.partners {
		min-height: 445px;
	}
	.partners .partners-list {
		margin: 26px auto 0;
	}
	.partners .partners-list .item {
		margin: 0 auto;
		padding-left: 0;
		max-width: 150px;
	}
	.partners .partners-list .logo-wrap {
		height: 130px;
	}
	.partners h2 {
		font-size: 24px;
		padding-top: 37px;
	}
	.partners p {
		font-size: 12px;
		line-height: 15px;
		max-width: 253px;
		margin: 0 auto;
		margin-top: 15px; 
	}

	.partners .btn {
		font-size: 14px;
	}
	.partners .owl-dots{
		text-align: center;
		margin-top: 17px;
	}
	.partners .owl-dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		border-radius: 50%;
		margin-right: 10px;

	}
	.partners .owl-dot:last-child{
		margin-right: 0;
	}
	.partners .owl-dot.active{
		width: 10px;
		height: 10px;
		background-color: #fff;
		border: 2px solid #fff;
	}
	.partners .btn {
		margin-top: 36px;
		padding: 12px 28px;
	}
	.system {
		min-height: 590px;
	}
	.system h2 {
		font-size: 24px;
		padding-top: 34px;
		margin-bottom: 0;
	}
	.system .system-list li {
		position: static;
		max-width: 100%;
		font-size: 12px;
		max-width: 241px;
		margin: 0 auto;
		line-height: 1.2;
		margin-bottom: 14px;
	}
	.system .system-list li img{
		display: none;
	}
	.system .system-list li:nth-child(1) {
		top: auto;
		left: auto;
		right: auto;
		margin: 0 auto;
		transform: translateY(0);
		z-index: 100;
		background-image: url(../img/system-mobile.png);
		width: 181px;
		height: 182px;
		margin-bottom: 35px;
	}
	.system .system-list li:nth-child(4) {
		max-width: 241px;
	}
	.system .system-list li p {
		margin-top: 1px;
	}
	.system .system-list {
		min-height: 380px;
	}
	.system .btn{
		color: white;
		font-size: 14px;
		font-weight: 400;
		background-color: #1b83af;
		border-radius: 3px;
		margin-top: 30px;
		padding: 13px 28px;
		display: inline-block;
		-webkit-transition: all .25s;
		-moz-transition: all .25s;
		-ms-transition: all .25s;
		-o-transition: all .25s;
		transition: all .25s;

	}
	.partners .btn:hover {
		opacity: 0.8; 
	}
	.solutions h2 {
		font-size: 24px;
		padding-top: 35px;
	}
	.solutions .tabs-menu {
		margin-top: 31px;
		text-align: center;
	}
	.solutions .tabs-menu li:nth-child(2) {
		left: 0px;
		position: relative;
		right: 0;
		margin: 0 auto;
	}
	.solutions .tabs-menu li {
		margin-bottom: 11px;
	}
	.solutions .tabs-menu li a {
		font-size: 14px;
		padding: 9px 58px;
	}
	.solutions .tabs-menu li.current a {
		padding: 9px 19px;
	}
	.solutions .tabs-menu li.current {
		margin-bottom: 11px;
	}
	.solutions .tab-content {
		margin-top: 18px;
	}
	.solutions .tab-content .line {
		margin-top: 0;
	}
	.solutions .tab-content .block.left {
		border-right: none;
	}
	.solutions .tab-content .block:nth-child(1) {
		padding-top: 0;
	}
	.solutions .tab-content .block:nth-child(2) {
		padding-top: 0;
	}
	.solutions .tab-content .block {
		padding-top: 0px;
		width: 100%;
		max-width: 254px;
		margin: 0 auto;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.solutions .tab-content .block:nth-last-child(1) {
		padding-bottom: 0px;
	}
	.solutions .tab-content .block:nth-last-child(2) {
		padding-bottom: 0px; 
	}
	.solutions .owl-next {
		display: none !important;
	}
	.solutions .owl-prev {
		display: none !important;
	}
	.solutions .owl-dots{
		text-align: center;
		margin-top: 18px;
	}
	.solutions .owl-dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 2px solid #1699bc;
		border-radius: 50%;
		margin-right: 10px;

	}
	.solutions .owl-dot:last-child{
		margin-right: 0;
	}
	.solutions .owl-dot.active{
		width: 10px;
		height: 10px;
		background-color: #1699bc;
		border: 2px solid #1699bc;
	}
	.solutions .hr {
		padding-top: 42px;
	}
	.news {
		min-height: 464px;
	}
	.news h2 {
		font-size: 24px;
		padding-top: 28px;
	}
	.news .slider-rev {
		margin-top: 23px;

	}
	.news .item-wrap {
		max-width: 251px;
	}
	.news .item-wrap img {
		width: 100%;
		height: 159px;
		float: none;
		margin-right: auto;
	}
	.news .item-wrap p {
		padding-left: 19px;
		padding-top: 26px;
		text-align: left;
		margin-bottom: 0;
	}
	.news .item-wrap a {
		padding-left: 19px;
		padding-top: 6px;
		text-align: left;
		max-width: 219px;
		padding-bottom: 30px;
	}
	.news .owl-dots {
		margin-top: 34px;
	}
	 .contacts h2 {
    font-size: 24px;
    padding-top: 57px; 
  }
   .contacts p {
    max-width: 256px;
    font-size: 12px;
  }
  .contacts p .phone-wrap .tel {
       display: block;
       text-align: center;
       line-height: 1.2;
      }
       .contacts p .text {
      max-width: 256px;
      line-height: 15px; 
    }
    .contacts .btn {
   margin-top: 25px;
  }
}