/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #49b5ce;
	z-index: 1000;
	opacity: 0.9;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 31px;
	height: 30px;
	position: absolute;
	right: 33px;
	top: 32px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;

}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
	vertical-align: middle;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul li {
	display: block;
	height: 20%;
	 height: calc(29% / 5);
    min-height: 4px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-size: 23px;
	font-weight: 400;
	line-height: 36px;
	display: block;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}



/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}